<div ng-controller="app.views.home as vm">

    <link href="~/App/Main/views/home/googleMapsStyle.css" rel="stylesheet" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-control">
                    <option>Estado</option>
                    <option>Tamaulipas</option>
                    <option>Zacatecas</option>
                    <option>Tampico (Segun nuestro presidente)</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-control">
                    <option>Ciudad</option>
                    <option>Victoria</option>
                    <option>Tampico</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <button class="btn btn-primary" ng-click="vm.createZdrModal()">Agregar nuevo en la posición actual</button>
            <div id="mapContainer" class="jumbotron" style="height: 500px">
                <ui-gmap-google-map events="{dragend : vm.setMarker}" center='vm.map.center' zoom='vm.map.zoom'>
                    <div ng-repeat="marker in vm.markers">
                        <ui-gmap-marker coords="marker.coords" modelsbyref="false" options="marker.options" events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                    </div>
                </ui-gmap-google-map>
            </div>
            <p>
                Estado: <span class="label label-default">{{vm.userLocation.State.long_name}}</span>  Ciudad: <span class="label label-default">{{vm.userLocation.City.long_name}}</span>
            </p>
        </div>
    </div>
</div>