<div ng-controller="app.views.home as vm">
    <link href="~/App/Main/views/home/googleMapsStyle.css" rel="stylesheet" />
    <div class="row">
        <div class="col-md-12 col-sm-12">

            <div id="mapContainer" class="jumbotron" style="height: 500px">
                <ui-gmap-google-map events="{center_changed : vm.setMarker}" center='vm.map.center' zoom='vm.map.zoom'>
                    <div ng-repeat="marker in vm.markers">
                        <ui-gmap-marker coords="marker.coords" modelsbyref="false" options="marker.options" events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                    </div>
                </ui-gmap-google-map>

            </div>
        </div>
    </div>
    <div ng-include="'/App/Main/views/home/createZone.cshtml'"></div>
</div>